.navbarContainer {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
    background-color: var(--navbarBg);
    border-bottom: 2px solid var(--borderColor);
    z-index: 2;
}

.logoImg {
    width: 48px;
}