body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--backgroundColor);
  color: var(--textColor);
}

* {
  transition: background-color 1s ease;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.lightTheme {
  --constantWhite: #fff;
  --navbarBg: #99eedf;
  --backgroundColor: #f5f5f5;
  --navbarColor: #808080;
  --cardColor: radial-gradient(
      79.69% 102.24% at 100% 100.11%,
      rgba(200, 200, 200, 0.2),
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      89.7% 115.09% at 3.43% 2.75%,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0)
    ),
    #99eedf;
  --textColor: #333333;
  --borderColor: #dcdcdc;
  --brandColor: #4286f4;
  --tableScrollThumbColor: #9ca3af;
  --thBackgroundColor: #4286f4;
  --thColor: white;
  --tdBackgroundColor: #f9fafb;
  --tdColor: #333333;
  --buttonColor: #55a55a;
  --cancelButtonColor: #e91e63;
  --disableButtonBgColor: #6b7280;
  --sunColor: #ffc02f;
  --sunGlowColor: #ffec60;
  --boxShadow3D: 0 4px 6px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.4), inset 0 -1px 1px rgba(0, 0, 0, 0.3),
    inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

.darkTheme {
  --constantWhite: #fff;
  --navbarBg: #1f1f1f;
  --backgroundColor: #121212;
  --navbarColor: #d1d5db;
  --cardColor: radial-gradient(
      79.69% 102.24% at 100% 100.11%,
      rgba(30, 30, 30, 0.8),
      rgba(40, 40, 40, 0.9)
    ),
    radial-gradient(
      89.7% 115.09% at 3.43% 2.75%,
      rgba(50, 50, 50, 0.7),
      rgba(100, 100, 100, 0.5)
    ),
    #a3a3a3;
  --textColor: #f9fafb;
  --borderColor: #d1d5db;
  --brandColor: #f70485;
  --tableScrollThumbColor: #555555;
  --thBackgroundColor: #6b7280;
  --thColor: #f9fafb;
  --tdBackgroundColor: #374151;
  --tdColor: #f9fafb;
  --buttonColor: #4caf50;
  --cancelButtonColor: #e91e63;
  --disableButtonBgColor: #6b7280;
  --boxShadow3D: 0 4px 6px rgba(253, 251, 251, 0.1),
    0 2px 2px rgba(227, 224, 224, 0.05), 0 1px 1px rgba(212, 212, 212, 0.2),
    inset 0 -1px 1px rgba(255, 255, 255, 0.4),
    inset 0 1px 2px rgba(255, 255, 255, 0.1);
}
